<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MobileList" value="13264132010"/>
  </appSettings>
  <connectionStrings>
    <add name="ytSms" connectionString="Data Source=211.157.111.134,2468;database=ytSms;Persist Security Info=True;User ID=FaxApp_User;Password=FaxApp*#06#_User?" providerName="System.Data.SqlClient"/>
    <add name="ytSys" connectionString="Data Source=211.157.111.134,2468;database=ytSys_DB;Persist Security Info=True;User ID=FaxApp_User;Password=FaxApp*#06#_User?" providerName="System.Data.SqlClient"/>
    <add name ="Monitor" connectionString="Data Source=211.157.111.135;database=NetPerfMon;Persist Security Info=True;User ID=sms;Password=yuantel@fax99!" providerName="System.Data.SqlClient"/>
    <!--<add name ="Monitor" connectionString="Data Source=211.157.111.139;database=ytFax_DB;Persist Security Info=True;User ID=netcc;Password=fax99" providerName="System.Data.SqlClient"/>-->
    <!--<add name ="Monitor" connectionString="Persist Security Info=False;Integrated Security=SSPI;database=NetPerfMon;server=."/>-->
  </connectionStrings>
</configuration>